/* Tooltip pour les boutton */
.tooltip {
	position: relative;
}

.tooltip-text {
	visibility: hidden;
	background-color: #333;
	color: #fff;
	padding: 6px 10px;
	border-radius: 6px;
	position: absolute;
	bottom: 125%;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	font-size: 12px;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
}

.tooltip-text::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	border-width: 6px;
	border-style: solid;
	border-color: #2c2c2c transparent transparent transparent;
}